body {
    background-color: black;
    background-attachment: fixed;
    font-family: 'Bubbler One', sans-serif; 
    color: white;
}

p#ref{
    font-size: 10px;
    letter-spacing: 3px;    
}

/*LINKS*/
a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

a:active{
    color: lightcoral;
    font-size: 15px;
    text-decoration: none;
}

a:hover{
    color: lightblue;
    text-decoration: none;
}
