body {
    background-color: black;
    background-attachment: fixed;
    font-family: 'Bubbler One', sans-serif; 
    color: white;
}

p#ref{
    font-size: 10px;
    letter-spacing: 3px;
    margin-top: 50px;    
}

hr{
    width: 50%;
}

#bio{
    background: rgba(145, 166, 187, 0.5);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 50px;
}

/*LINKS*/
a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

a:active{
    color: lightcoral;
    font-size: 15px;
    text-decoration: none;
}

a:hover{
    color: lightblue;
    text-decoration: none;
}
