body {
    background-color: black;
    background-attachment: fixed;
    font-family: 'Bubbler One', sans-serif; 
    color: white;
}

h2{
    font-size: 20px;
    line-height: 10%;
}

p#desc{
    font-size: 20px;
    letter-spacing: 10px;
    line-height: 5px;
}

p#ref{
    font-size: 10px;
    letter-spacing: 3px;
    line-height: 300px;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

a:active{
    color: lightcoral;
    font-size: 15px;
    text-decoration: none;
}

a:hover{
    color: lightblue;
    text-decoration: none;
}

#description{
    float: left;
    width: 55%;
    margin-top: 5%;
}

#info{
    float: left;
    width: 20%;
    margin-top: 16%;
    margin-left: 65px;
    line-height: 120%;
}

#form{
    float: right;
    width: 20%;
    margin-top: 15%;
}

/*#home{
    clear: both;
    background: rgba(255,255,255,0.5);
}*/

#timeline{
    clear: both;
}

p#bot{
    font-size: 40px;
    letter-spacing: 50px;
    line-height: 5px;
}
