body {
    background-color: black;
    background-attachment: fixed;
    font-family: 'Bubbler One', sans-serif; 
    color: white;
}

h2{
    font-size: 20px;
    line-height: 10%;
}

#description{
    float: left;
    margin-top: 8%;
    margin-left: 10%;
    position: fixed;
}

#contactMe{
    background: rgba(119,136,153,.5);
    background-attachment: fixed;
    height: 100%;
    padding-top: 130px;
    padding-left: 150px;
    padding-right: 50px;
    position: fixed;
    left: 66%;
}



/*ASPIRING PROGRAMMER*/
p#desc{
    font-size: 20px;
    letter-spacing: 10px;
    line-height: 5px;
}

/*HOME|ABOUT ME|PORTFOLIO*/
p#ref{
    font-size: 10px;
    letter-spacing: 3px;    
}

/*LINKS*/
a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

a:active{
    color: lightcoral;
    font-size: 15px;
    text-decoration: none;
}

a:hover{
    color: lightblue;
    text-decoration: none;
}

/*text inputs and text area*/
#name, #email, #message{
    font-family: 'Bubbler One', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 2;
}

#button{
    background: transparent;
    font-size: 15px;
    color: white;
    border-left: none;
    border-right: none;
    border-width: 1px;
    margin-top: 5px;
    font-family: 'Bubbler One', sans-serif; 
    letter-spacing: 5px;
}

#button:hover{
    color: lightblue;
}

#sns{
    position: fixed;
    z-index: 1;
    left: 63%;
    margin-top: 10%; 
}